body {
  height: 100%;
  background-size: cover;
  background-image: url(img/Black-and-Orange-Wallpaper-Full-HD.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Numans', sans-serif;
}

/*Header*/

/*Header*/

.collapse {
  overflow: visible !important;
}

.container.navbar-wrapper {
  position: absolute;
  z-index: 1;
}

#header {
  position: absolute;
  z-index: 1;
  margin-left: 20% !important;
  margin-right: 20% !important;
  width: -webkit-fill-available;
  height: auto;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  background-color: #9a802aba !important;
  border-radius: 10px;
  margin-top: 2%;
}

header {
  height: 80px;
  margin-bottom: 150px;
}

header img {
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  margin-left: 20px;
}

header nav a {
  margin: 10px 0 10px 10px;
  text-decoration: none;
  color: white;
  padding: 21px 10px 21px 10px;
}

header nav a:hover {
  padding: 10px 10px 36px 10px;
  color: white;
  background-color: #0c589e;
  text-decoration: none;
}

.nav {
  position: static;
  float: right;
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}

.form-inline.my-2.my-md-0 .form-control {
  height: 0% !important;
  background: white;
  border: 2px solid #ee9601d6;
  border-radius: 25px;
}

#logo {
  width: 100%;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 0 !important;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-right-width: 2px;
  border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

#navbarsExample05 a {
  width: 100%;
  margin-left: 10px;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark #link_logo {
  width: 5%;
}

#navbarsExample05 .nav-item.dropdown {
  transition: 1s;
  margin-right: 15px;
}

#navbarsExample05 .nav-item.dropdown:hover:not(a) {
  background: #f8b003 !important;
  border-radius: 25px;
}

#navbarsExample05 .nav-item.dropdown a:hover {
  color: #f8b003;
}

#navbarsExample05 .nav-item.active {
  transition: 1s;
}

#navbarsExample05 .nav-item.active:hover {
  background: #f8b003 !important;
  border-radius: 25px;
}

#carrinho {
  margin: auto !important;
  color: white;
  font-size: 30px;
  margin-left: 20px;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark .navbar-nav.mr-auto {
  width: -webkit-fill-available;
}

#navbarsExample05 a {
  width: auto;
}

#link_login {
  color: white;
  text-shadow: 1px 1px 1px #000;
  font-size: 17px;
  margin-left: 20px;
}

#link_cadastro {
  color: white;
  text-shadow: 1px 1px 1px #000;
  font-size: 17px;
  margin-left: 20px;
}

.dropdown-item:active {
  color: #000;
  text-decoration: none;
  background-color: white;
}

/*Section Principal*/

/*Section Principal*/

#principal {
  position: relative;
}

#principal div {
  border-radius: 10px;
  margin-bottom: 50px;
  position: relative;
}

#principal .img-produto {
  border: 1px solid;
  transition: 500ms;
  height: 100%;
  background-color: white;
}

#principal img {
  width: 100%;
  position: relative;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 210px;
}

#principal h3 {
  color: red;
  padding: 0 10px;
}

#principal p {
  color: black;
  font-size: 15px;
  padding: 0 10px;
}

#principal a:hover {
  text-decoration: none;
}

#principal .img-produto button:hover {
  background: #ff0000;
  color: white;
}

#principal .img-produto:hover img {
  opacity: 0.7;
  transition: 300ms;
}

#carrinhoMenu .row {
  text-align: center;
  border: 2px #000000 solid;
  margin-bottom: 20px !important;
  border-radius: 10px;
  width: 99.5%;
  margin: auto;
}

/* Carousel base class */

.carousel {
  margin-bottom: 100px !important;
}

.carousel .container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel-control {
  background-color: transparent;
  border: 0;
  font-size: 120px;
  margin-top: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

.carousel-control {
  position: absolute;
  top: 50% !important;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 25px !important;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel .item {
  height: 500px;
}

.carousel img {
  min-width: 100%;
  height: 500px;
}

.carousel-caption {
  background-color: transparent !important;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-bottom: 100px;
  margin-left: 100px;
}

.carousel-caption h1, .carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

.carousel-caption .btn {
  margin-top: 10px;
}

@media (max-width: 979px) {
  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }
  .carousel .item {
    height: 500px;
  }
  .carousel img {
    width: auto;
    height: 500px;
  }
  .featurette {
    height: auto;
    padding: 0;
  }
  .featurette-image.pull-left, .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}

@media (max-width: 767px) {
  .navbar-inner {
    margin: -20px;
  }
  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  .carousel .item {
    height: 300px;
  }
  .carousel img {
    height: 300px;
  }
  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-bottom: 40px;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel-caption .lead, .carousel-caption .btn {
    font-size: 18px;
  }
  .marketing .span4+.span4 {
    margin-top: 40px;
  }
  .featurette-heading {
    font-size: 30px;
  }
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }
}

#principal .img-produto button {
  width: -webkit-fill-available;
  margin-left: 15%;
  margin-right: 15%;
  border: 0;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  background: #cc4848;
  border-radius: 10px;
  padding: 5px 0;
  position: absolute;
  bottom: 3%;
  transition: 300ms;
}

/*Footer*/

/*Footer*/

footer {
  clear: both;
  background-color: #484848;
  padding: 75px 0;
  margin-top: 50px;
}

footer .logo{
  margin: auto;
  display: block;
  width: 150px;
}

footer a {
  color: white;
}

footer h3 {
  color: #f8b003;
}

.imgSocial {
  height: 50px;
  margin-top: 20px;
}

div.imgSocial img {
  width: 50px;
  position: relative;
  float: right;
  margin-right: 8.3px;
  margin-left: 8.3px;
}

.imgSocial .imgPagamento img {
  width: 50px;
  float: left;
}

.imgPagamento img {
  width: 50px;
}

.txt_produto {
  font-size: 14px;
  padding-top: 10px;
}

.box_select {
  width: 150px;
}

.content_form_l {
  float: left;
  margin-right: 20px;
}

.content_form_l input {
  width: 250px;
}

.content_form_r {
  float: right;
  margin-left: 50px;
}

.clear {
  clear: both;
}

.menuCarrinho li {
  display: inline-block;
  margin-left: 100px;
  margin-top: 5px;
}

.carrinho-valor-total {
  color: #000;
  font-size: 20px;
  text-align: right;
  margin-right: 25px;
}

.carrinho-valor-total button {
  margin: 15px;
}

.tabelaProduto {
  border: black 1px solid;
  width: 1110px;
}

.tabelaProduto tr {
  margin-left: 20px;
}

.tabelaProduto img {
  width: 150px;
}

.tabelaProduto p {
  color: green;
}

a:hover {
  color: darkgoldenrod !important;
  text-decoration: none !important;
}

/*anuncio*/

/*anuncio*/

.txt_produto {
  font-size: 14px;
  padding-top: 10px;
}

.box_select {
  width: 150px;
}

#BL .content_form_l {
  float: left;
  margin-right: 20px;
  margin-left: 20px;
}

.content_form_l input {
  width: 250px;
}

.content_form_r {
  float: right;
  margin-left: 50px;
}

.clear {
  clear: both;
}

.input-group-prepend .form-control {
  width: 500px;
  height: 100px !important;
}

.invalid-feedback {
  max-width: 0;
}

.margem12px {
  margin-top: 12px;
}

.inputDnD .form-control-file {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 6em;
  outline: none;
  visibility: hidden;
  cursor: pointer;
  background-color: #c61c23;
  box-shadow: 0 0 5px solid currentColor;
}

.inputDnD .form-control-file:before {
  content: attr(data-title);
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 100%;
  min-height: 6em;
  line-height: 5.5;
  padding-top: 0;
  opacity: 1;
  visibility: visible;
  text-align: center;
  border: 0.25em dashed currentColor;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}

.inputDnD .form-control-file:hover:before {
  border-style: solid;
  box-shadow: inset 0px 0px 0px 0.25em currentColor;
}

.input_img {
  padding-top: 30px;
  width: 1140px;
}

.col-sm-6 {
  float: left;
  width: 20px;
  padding: 10px;
}

input[type="text"] {
  height: 38px !important;
}

input[type="number"] {
  height: 38px !important;
}

.form-check-label {
  margin-bottom: 0;
  margin-left: 15px;
}

#anunciar_produto {
  background: #ffffffe8;
  border-radius: 10px;
}

/*Carrinho*/

#carrinho {
  position: relative;
}

#carrinhoTitulo h3 {
  text-align: center;
  color: black;
}

#carrinhoMenu .row {
  text-align: center;
  border: 1px #000 solid;
  margin-bottom: 20px;
  border-radius: 10px;
}

#carrinhoMenu p {
  color: #000;
  font-size: 30px;
  text-shadow: 2px 2px 4px #000;
}

#carrinhoMenu img {
  width: 100%
}

#carrinhoMenu #quantidate_input {
  width: 100%;
}

#carrinhoMenu .col-md-2 {
  margin: auto;
}

#carrinhoMenu .col-md-3 {
  line-height: 160px;
  vertical-align: middle;
}

#excluir {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #000000;
  background: transparent;
  color: #000000;
  font-size: 15px;
  font-weight: bolder;
  transition: 0.5s;
}

#excluir:hover {
  color: red;
  border: 2px solid red;
}

#carrinhoTitulo {
  background-color: #ee9601;
}

/*LOGIN*/

@import url('https://fonts.googleapis.com/css?family=Numans');
.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.849) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #9a802aba;
}

.social_icon span:hover {
  color: skyblue;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #9a802aba;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 1 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  border-radius: 10px;
  float: right;
  color: black;
  background-color: #9a802aba;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
  color: white;
}

.d-flex.justify-content-center a {
  color: white;
}

/*Cadastro*/

.pessoa div {
  margin: 10px;
  display: flex;
}

.pessoa label {
  padding-right: 10px;
}

/*Tela de Forma de pagamento*/

#CC {
  display: none;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#CC h1 {
  text-align: center;
}

#BL {
  display: none;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: -webkit-fill-available;
}

#BL h1 {
  text-align: center;
}

.btn {
  margin: auto;
  display: block !important;
  max-width: 20%;
  line-height: 4 !important;
  background: white !important;
  margin-bottom: 15px !important;
}

.btn button {
  background: transparent;
  border: 1px solid;
  border-radius: 15px;
  padding: inherit;
}

.btn button:hover {
  color: white;
  background: #313131;
}

.dados_pessoais {
  float: left;
}

.dados_cartao {
  margin-left: 30%
}

.btn_FinalizaCompra {
  clear: both;
  float: right;
  margin: 20px;
}

.validadeCartao {
  display: grid;
}

.btn_geraBoleto {
  clear: both;
  float: right;
  margin: 20px
}

#CC .dataNasc input{
  height: auto;
}

/*Detalhes*/

#detalhes_img {
  width: 100%;
  border: 2px solid;
  border-radius: 10px;
}

#detalhes_container {
  background-color: #ffffffe8;
  border-radius: 10px;
}

#detalhes_container div {
  padding: 20px
}

#detalhes_preco {
  text-align: center;
  border: 1px #000 solid;
  border-radius: 10px;
}

#detalhes_preco .detalhes_desconto {
  color: #c61c23;
  font-size: 200%;
  text-decoration: line-through;
}

#detalhes_preco .detalhes_total {
  color: #c61c23;
  font-size: 245%;
}

.detalhes_info h1 {
  background-color: #484848;
  color: white;
  padding: 10px;
  margin-top: 100px;
}

.detalhes_button {
  margin-top: 55px;
  height: auto;
}

.detalhes_button button {
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: #43da12;
  border: 2px solid #15c300;
  border-radius: 7px;
  box-shadow: 3px 3px 10px #0000008f;
  transition: 300ms;
}

.detalhes_button button:hover {
  transform: translateY(2px);
  box-shadow: unset;
}

.detalhes_button i {
  color: #fff !important;
}